:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #292929;
  --secondary: #747474;
  --third: #3a5a40;
  --fourth: #344e41;
  --fifth: rgba(255, 255, 255, 0.8);
  --font: rgba(255, 255, 255, 0.8);
  --background: #292929;
  --background-second: #363636;
}

.v-list {
  padding: 0 !important;
  background: var(--primary) !important;
  color: white !important;
}

.v-list-item-title {
  text-align: left !important;
  padding-left: 1em !important;
}

.v-list-item__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-list-item-title {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  margin-bottom: .5em !important;
  text-align: left;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

* {
  margin: 0;
  user-select: none;
}

label {
  text-align: left;
}

#app {
  max-width: 1280px;
  text-align: center;
}

.icon {
  fill: var(--fifth);
}

[menuitem] {
  p {
    color: var(--fifth);
  }
}

@media screen and (min-width: 600px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;

    h1 {
      font-size: 2em;
    }
  }
}